# .gitignore at top level

# build files

*.so
*.o
*.a
*.la
*.lo

# emacs

~*
*~
TAGS

# cvs

Entries.Log
Entries.static

# Ignore files and directories created by the Eclipse IDE

.cproject
.project
.settings

# Ignore bin, include, and lib directories which are created if
# an install is done to the local directory

bin
include
lib

# configure

.dirstamp
.deps
makefile
Makefile
__makefile.template
.libs
compile


aclocal.m4
autom4te.cache
config.h
config.log
config.status
config/
stamp-h1

.sconsign.dblite

cedric/source/cedric
cedric/source/gcedric

sprint/source/sprint

ppi/source/gmeta
ppi/source/ppi.e
